.features-block {
    margin-top: 116px;
    @media (max-width: 1024px) {
        margin-top: 79px;
    }
    @media (max-width: 320px) {
        margin-top: 40px;
    }
    &__list {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        list-style: none;
        text-align: center;
        row-gap: 90px;
        @media (max-width: 1024px) {
            row-gap: 50px;
        }
        @media (max-width: 900px) {
            flex-direction: column;
            align-items: center;
        }
        @media (max-width: 320px) {
            gap: 42px;
        }
    }
    &__list-item {
        max-width: 370px;
        padding-top: 150px;        
        position: relative;
        &::before {
            content: "";
            width: 100px;
            height: 100px;
            right: 0;
            left: 0;
            margin: 0 auto;
            top: 0;
            position: absolute;
            
        }
        &:nth-child(1) {
            &::before {
                background-image: url('/src/images/pen.svg');
                @media (max-width: 1024px) {
                    width: 85px;
                    height: 85px;
                    background-image: url('/src/images/pen-tablet.svg');
                }
                @media (max-width: 320px) {
                    width: 76px;
                    height: 76px;
                    background-image: url('/src/images/pen-mobile.svg');
                }
            }
            
        }
        &:nth-child(2) {
            &::before {
                content: "";
                background-image: url('/src/images/desk.svg');
                @media (max-width: 1024px) {
                    width: 85px;
                    height: 85px;
                    background-image: url('/src/images/desk-tablet.svg');
                }
                @media (max-width: 320px) {
                    width: 76px;
                    height: 76px;
                    background-image: url('/src/images/desk-mobile.svg');
                }
            }
        }
        &:nth-child(3) {
            &::before {
                background-image: url('/src/images/bulb.svg');
                @media (max-width: 1024px) {
                    width: 85px;
                    height: 85px;
                    background-image: url('/src/images/bulb-tablet.svg');
                }
                @media (max-width: 320px) {
                    width: 76px;
                    height: 76px;
                    background-image: url('/src/images/bulb-mobile.svg');
                }
            }
        }
        &:nth-child(4) {
            &::before {
                background-image: url('/src/images/star.svg');
                @media (max-width: 1024px) {
                    width: 85px;
                    height: 85px;
                    background-image: url('/src/images/star-tablet.svg');
                }
                @media (max-width: 320px) {
                    width: 76px;
                    height: 76px;
                    background-image: url('/src/images/star-mobile.svg');
                }
            }
        }
        &:nth-child(5) {
            &::before {
                background-image: url('/src/images/mark.svg');
                @media (max-width: 1024px) {
                    width: 85px;
                    height: 85px;
                    background-image: url('/src/images/mark-tablet.svg');
                }
                @media (max-width: 320px) {
                    width: 76px;
                    height: 76px;
                    background-image: url('/src/images/mark-mobile.svg');
                }
            }
        }
        &:nth-child(6) {
            &::before {
                background-image: url('/src/images/truck.svg');
                @media (max-width: 1024px) {
                    width: 85px;
                    height: 85px;
                    background-image: url('/src/images/truck-tablet.svg');
                }
                @media (max-width: 320px) {
                    width: 76px;
                    height: 76px;
                    background-image: url('/src/images/truck-mobile.svg');
                }
            }
        }
        @media (max-width: 1024px) {
            padding-top: 129px;
            max-width: 315px;
        }
        @media (max-width: 900px) {
            max-width: 100%;
        }
        @media (max-width: 320px) {
            padding-top: 113px;
        }
    }
    &__title {
        text-transform: uppercase;
        color: #2D3033;
    }
    &__paragraph {
        color: #6C7279;
        margin-top: 43px;
        @media (max-width: 1024px) {
            margin-top: 23px;
        }
        @media (max-width: 900px) {
            max-width: 280px;
        }
        @media (max-width: 320px) {
            margin-top: 8px;
        }
    }
}