.header-block {
    background: url("../images/bg-banner.jpg") bottom/cover no-repeat;
    &__inner-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        &::after {
            content: "";
            position: absolute;
            height: 2px;
            width: 100%;
            bottom: 0;
            background-color: #BABBC5;
            opacity: 0.5;
        }
        @media (max-width: 900px) {
            display: grid;
            grid-template-columns: 200px 50px;
            &::after {
                display: none;
            }
        }
        @media (max-width: 320px) {
            grid-template-columns: 200px 40px;
        }
    }
    &__logo {
        width: 184px;
        @media (max-width: 320px) {
            width: 103px;
        }
    }
    &__logo-link {
        padding: 35px 0;
        @media (max-width: 320px) {
            padding: 21px 0;
        }
    }
    &__nav-list {
        display: flex;
        align-items: center;
        list-style: none;
        &--hidden {
            display: none;
        }
        @media (max-width: 900px) {
            flex-direction: column;
            align-items: flex-start;
            order: 2;
            gap: 25px;
            margin-top: 34px;
        }
    }

    &__list-item {
        padding: 2px 0px 4px 6px;
        @media (max-width: 1024px) {
            padding: 0px;
        }
        @media (max-width: 900px) {
            padding: 10px 0;
        }
    }

    &__list-link {
        text-transform: uppercase;
        text-decoration: none;
        font-weight: 700;
        font-size: 13px;
        line-height: 15px;
        color: #000000;
        color: #ffffff;
        padding: 0 30px 41px;
        position: relative;
        &:active {
            color: #E71414;
        }
        &--active {
            &::after {
                content: "";
                height: 3px;
                width: 100%;
                right: 0;
                left: 0;
                bottom: 0;
                background-color: #BABBC5;
                position: absolute;
                @media (max-width: 900px) {
                    display: none;
                }
            }
        }
        &:hover {
            &:not(.header-block__list-link--active)::after {
                content: "";
                height: 1px;
                width: 85%;
                transform:translate(-80%, -50%);
                background-color: #BABBC5;
                position: absolute;
                bottom: 0;
            }
            &:active::after {
                background-color: #E71414;
            } 
        }
        @media (max-width: 1024px) {
            font-size: 12px;
            line-height: 14px;
            padding: 0 23px 41px;
        }
        @media (max-width: 900px) {
            padding: 0;
        }
        @media (max-width: 320px) {
            font-size: 13px;
            line-height: 15px;
        }
    }

    &__nav-btn {
        display: none;
        border: none;
        background-color: inherit;
        cursor: pointer;
        @media (max-width: 900px) {
            display: block;
        }
        @media (max-width: 320px) {
            margin-top: -5px;
        }
    }

    &__line-btn {
        background-color: #ffffff;
        width: 37px;
        height: 3px;
        border-radius: 2px;
        display: block;
        margin: 6px 0;
        &--hidden {
            display: none;
        }
        @media (max-width: 320px) {
            width: 25px;
            height: 3px;
            margin: 4px 0;
        }
    }
    

    &__text-info {
        text-align: center;
        padding-bottom: 120px;
        padding-top: 130px;
        @media (max-width: 1024px) {
            max-width: 777px;
            margin: 0 auto;
            padding-top: 156px;
            padding-bottom: 125px;
        }
        @media (max-width: 320px) {
            padding-top: 45px;
            padding-bottom: 52px;
        }
    }

    &__info-title {
        font-weight: 900;
        font-size: 64px;
        line-height: 75px;
        color: #ffffff;
        text-transform: uppercase;
        @media (max-width: 1024px) {
            font-size: 48px;
            line-height: 56px;
        }
        @media (max-width: 900px) {
            font-size: 36px;
            line-height: 42px;
        }
        @media (max-width: 320px) {
        }
    }

    &__info-description {
        color: #ffffff;
        max-width: 1000px;
        margin: 30px auto 0;
        @media (max-width: 1024px) {
            margin: 62px auto 0;
        }
        @media (max-width: 320px) {
            margin-top: 34px;
            text-align: center;
        }
    }

    &__info-button {
        margin-top: 75px;
        width: 369px;
        margin-top: 82px;
        padding: 25px;
        text-transform: uppercase;
        color: #ffffff;
        background-color: #FF4343;
        border: none;
        font-size: 24px;
        line-height: 28px;
        font-weight: 900;
        @media (max-width: 1024px) {
            margin-top: 91px;
            width: 313px;
        }
        @media (max-width: 768px) {
            width: 100%;
        }
        @media (max-width: 320px) {
            margin-top: 65px;
            padding: 15px;
        }
        &:active {
            box-shadow: 4px 4px 30px #FF4343;
        }
        &:hover {
            background-color: #E71414;
        }
    }
}